/**Define variables para la hoja de estilos**/
:root{
    --overall-font-size: 62.5%
}
/**Reestablece valor de 1rem a base 10px, es decir: 1rem = 10px**/
html{
    font-size: var(--overall-font-size);
}
.body{
    font-size: 1.6rem;
}

.header {
    background-color: blueviolet;
}
.main {
    background-color: brown;
}
.main-wrapper{
    display: flex;
    flex-direction: column;
}
.main-container{
    order: -1;
}
.filter {
    background-color: burlywood;
}
.main-filter {
    background-color: lightskyblue;
}
.main-content {
    background-color: cadetblue;
}

.footer {
    background-color: orange;
}


/** Mobile First -- 0px --> 566px */
.container {
    border: 2px dotted blue;
    max-width: 96vw;
    margin: 0 auto;
    padding: 0 0.8rem;
    box-sizing: border-box;    
}
.container-fluid {
    border: 2px dotted yellow;
    max-width: 100vw;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box; 
}

/** 567px --> 767px */
@media ( min-width: 567px ) {
    .container {
        max-width: 54rem;
        padding: 0 1.6rem;
    }
}
/** 768px --> 1023px */
@media ( min-width: 768px ) {
    .container {
        max-width: 72rem;
        padding: 0 2.4rem;
    }
}
/** 1024px --> 1999px */
@media ( min-width: 1024px ) {
    .container {
        max-width: 99.2rem;
        padding: 0 3.2rem;
    }
}
/** 1200px --> 1399px */
@media ( min-width: 1200px ) {
    .container {
        max-width: 114rem;
        padding: 0 4rem;
    }
}
/** 1400px --> 1599px */
@media ( min-width: 1400px ) {
    .container {
        max-width: 132rem;
        padding: 0 4.8rem;
    }
}
/** 1600px --> 1919px */
@media ( min-width: 1600px ) {
    .container {
        max-width: 144rem;
        padding: 0 5.6rem;
    }
}
/** 1920px --> 2159px */
@media ( min-width: 1920px ) {
    .container {
        max-width: 160rem;
        padding: 0 6.4rem;
    }
}
/** 2160px --> 2459px */
@media ( min-width: 2160px ) {
    .container {
        max-width: 176rem;
        padding: 0 7.2rem;
    }
}
/** 2160px --> more */
@media ( min-width: 2560px ) {
    .container {
        max-width: 192rem;
        padding: 0 8rem;
    }
}