.header {
    background-color: blueviolet;
}
.main {
    background-color: brown;
}
.footer {
    background-color: orange;
}


/** Mobile First -- 0px --> 566px */

/** 567px --> 767px */
@media ( min-width: 567px ) {
    
}
/** 768px --> 1023px */
@media ( min-width: 768px ) {
    
}
/** 1024px --> 1999px */
@media ( min-width: 1024px ) {
    
}
/** 1200px --> 1399px */
@media ( min-width: 1200px ) {
    
}
/** 1400px --> 1599px */
@media ( min-width: 1400px ) {
    
}
/** 1600px --> 1919px */
@media ( min-width: 1600px ) {
    
}
/** 1920px --> 2159px */
@media ( min-width: 1920px ) {
    
}
/** 2160px --> 2459px */
@media ( min-width: 2160px ) {
    
}
/** 2160px --> more */
@media ( min-width: 2160px ) {
    
}